#boardGrid {
    height: 15vh;
    width: 15vw;
    --grid-rows: 15;
    --grid-cols: 15;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}